section.skills
  .flex.flex--center
            
    .col-50.push-left50
      h4 I am a designer by association and an illustrator by inclination. I have an extreme love for all things Superhero comic books. 
