section.illustration#illustration
  .flex.flex--center
    .col-2
      h4 ...And on occassions I Illustrate
      ul#imageGallery
        li
          a(href="https://dribbble.com/shots/2343408-BB8-Ball")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2343408/bb8_d1.jpg", alt="BB-8 Ball")
        li
          a(href="https://dribbble.com/shots/2202141-Beast-Baby")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2202141/beastbaby.jpg", alt="Baby Beast")
        li
          a(href="https://dribbble.com/shots/2427937-X-Wing-Fighter")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2427937/xwing-fighter_1x.png", alt="X-Wing")
        li
          a(href="https://dribbble.com/shots/2100038-Illustration-Mad-Max-WIP")
            img#thumb(src="https://d13yacurqjgara.cloudfront.net/users/325395/screenshots/2100038/mad-maxx.jpg", alt="Mad Max")
      a(href="https://dribbble.com/JStrayhorn2").home-cta.dribbble See More on Dribbble
  
