section.design#design
  .flex.flex--center
    .col-2
      h4 Sometimes I Design...
      ul#imageGallery
        li
          a(href="https://www.behance.net/gallery/34483855/12-Days-of-Giving-Manheim-Digital-Marketplace")
            img#thumb(src="https://mir-s3-cdn-cf.behance.net/projects/202/50914534483855.Y3JvcCw0NzksMzc1LDEyLDM4.jpg", alt="12 Days of Giving")
        li
          a(href="https://www.behance.net/gallery/25203131/Buying-in-the-Zone-B2B-Promotion")
            img#thumb(src="https://mir-s3-cdn-cf.behance.net/projects/202/b0f64025203131.55b3e238703b3.jpg", alt="Buying in the Zone")
        li
          a(href="https://www.behance.net/gallery/19852651/Camp-Manheim-Promotion")
            img#thumb(src="https://mir-s3-cdn-cf.behance.net/projects/202/19852651.541a3c1ed7699.png", alt="Camp Manheim")
        li
          a(href="https://www.behance.net/gallery/34483515/Autotrader-Car-Buyer-of-the-Future?")
            img#thumb(src="https://mir-s3-cdn-cf.behance.net/projects/202/070d5134483515.Y3JvcCw0NzMsMzcwLDExLDY1.jpg", alt="Car Buyer of the Future")
      a(href="https://www.behance.net/julianstrayhorn").home-cta.behance See More on Behance  
